.hero {

  position: relative;
  min-height: 769px;
  z-index: 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #B9EFD2 100%);
    opacity: 0.8;
    z-index: -1;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 740px;
    content: '';
    filter: blur(20px);
    background-image: url('../images/dest/hero-bg.jpg');
    z-index: -1;
    @extend %bg-cover;
  }

  &__container {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    position: relative;
    min-height: inherit;
    position: relative;
    z-index: 1;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 624px;
      height: 624px;
      background-image: url('../images/dest/decor/decor-circle.png');
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center bottom;
      ;
      z-index: -1;
    }
  }

  &__top {
    margin-left: 198px;
    max-width: 694px;
    width: 100%;

  }

  &__title {
    font: 800 60px / 73px $font;
    color: $black;
    padding-left: 173px;
    margin-bottom: 11px;

    &--accent {
      color: #00166D;
    }
  }

  &__subtitle {
    padding: 11px 0 11px 173px;
    background-color: $yellow;
    clip-path: polygon(0% 0%, 96% 0%, 100% 50%, 96% 100%, 0% 100%);

    &-text {
      font: 600 30px / 37px $font;
    }
  }

  &__link {
    transform: translateX(-20px);
  }
}

.hero-decor {
  &--left {
    width: 404px;
    height: 552px;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &--right {
    width: 584px;
    height: 100%;
    right: 0;
    bottom: 0;
  }

  &--center {
    bottom: 0;
    max-width: 624px;
    left: 46px;

  }
}

.hero-product {
  margin-top: auto;
  margin-left: 398px;
  margin-bottom: -8px;
  flex-wrap: wrap;

  &__inner {
    max-width: 424px;
  }

  &__banner {
    width: 148px;
    height: 112px;
    top: 96px;
    right: 101px;
  }

  &__sticker {
    width: 152px;
    height: 173px;
  }

  &__discount {
    font: 800 25px / 30px $font;
    color: $white;
    width: fit-content;
    top: 41%;
    left: 47px;
    transform: translateY(-51%) rotate(-26deg);
  }

  &__img--min {
    display: none;
  }
}

.hero-descr {
  max-width: 495px;
}

.hero-fruct {
  width: 375px;
  height: 414px;
  bottom: -85px;
  left: 43px;

  &__text {
    font: $font-decor;
    transform: rotate(-26deg) translate(-6px, 15px);
    display: block;
    width: fit-content;
  }

}

.hero-info {
  margin-top: -8px;
  position: relative;

  &__list {
    margin-bottom: 47px;
    position: relative;

  }

  &__item {
    font: 600 16px / 20px $font;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    &:nth-child(1) {
      max-width: 252px;
      transform: translateX(-73px);
    }

    &:nth-child(2) {
      transform: translateX(-32px);
      max-width: 258px;
      margin-bottom: 40px;
    }

    &:nth-child(3) {
      margin-left: 15px;
      margin-bottom: 34px;
      transform: translateX(-15px);

    }

    &:nth-child(4) {
      max-width: 353px;
      margin-left: 19px;
    }



  }
}

.hero-price {
  display: flex;
  border: 3px solid #248851;
  max-width: 378px;
  transform: translateX(-20px);
  border-radius: 5px;
  margin-bottom: 23px;

  &__item {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73px;
  }

  &__current {
    background-color: #248851;
    color: $white;
    font: 700 50px / 60px $font;
  }

  &__old {
    color: $black;
    font: 500 30px / 36px $font;
    position: relative;
    text-decoration-line: line-through;
  }
}

.hero-line {
  transform: rotate(-114deg);
  position: absolute;
  top: 95px;
  left: -162px;
}

@media (max-width: 1800px) {
  .hero-decor--left {
    z-index: 0;
  }

  .hero-fruct {
    display: none;
  }
}

@media (max-width: 1210px) {
  .hero__subtitle-text {
    padding-right: 40px;
  }

  .hero-decor--left {
    display: none;
  }

  .hero-decor--right {
    display: none;
  }

  .hero::before {
    background-image: none;
    display: none;
  }

  .hero-product {
    margin-top: auto;
    margin-left: 0;
    margin-bottom: -8px;
    flex-wrap: wrap;
  }

  .hero-descr {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .hero-line {
    display: none;
  }

  .hero__top {
    margin-left: -15px;
    margin-bottom: 160px;
  }

  .hero-info {
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;
    width: 100%;

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 0;
      width: 100%;

      &::before {
        content: '';
        width: 35px;
        height: 35px;
        background-image: url('../images/dest/sprite.svg#dot');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: block;
        flex-shrink: 0;
        margin-right: 20px;
      }

      &-text {
        max-width: 390px;
        width: 100%;
        display: block;
      }

      &:nth-child(1) {
        max-width: 100%;
        transform: translateX(0);
      }

      &:nth-child(2) {
        max-width: 100%;
        transform: translateX(0);
      }

      &:nth-child(3) {
        max-width: 100%;
        margin-left: 0px;
        transform: translateX(0);
      }

      &:nth-child(4) {
        max-width: 100%;
        margin-left: 0px;
      }
    }
  }

  .hero-price {
    margin-left: auto;
    margin-right: auto;
    order: -1;
    width: 400px;
    transform: translateX(0px);
  }

  .hero__link {
    transform: translateX(0px);
    margin-left: auto;
    margin-right: auto;
    order: -1;
    display: block;
    margin-bottom: 70px;
  }

  .hero-decor--center {
    width: 570px;
    top: 16%;
    left: 46%;
    transform: translateX(-50%);
  }

  .hero__container::after {
    left: 56%;
    transform: translateX(-50%);
    width: 545px;
    height: 545px;
    background-image: url(../images/dest/decor/decor-circle-min.png);
    top: 28%;
  }

  .hero-product {
    &__banner {
      top: -15%;
      right: 0;
      left: 0px;
    }

    &__img {
      display: none;
    }

    &__img--min {
      display: block;
    }

    &__inner {
      margin-left: 52%;
      margin-bottom: 15px;
    }

    &__discount {
      top: 14%;
      left: 62%;
    }
  }
}

@media (max-width: 700px) {
  .hero__subtitle {
    padding: 11px 0 11px 62px;
  }

  .hero__container::after {
    left: 50%;
    width: 460px;
    height: 460px;
  }
}

@media (max-width: 480px) {
  .hero__top {
    margin-left: -15px;
    margin-bottom: -5px;
  }

  .hero__title {
    padding-left: 25px;
  }

  .hero__subtitle {
    padding: 11px 0 11px 25px;
  }

  .hero-decor--center {
    width: 450px;
    top: 19%;
    left: 36%;
  }

  .hero-product {
    &__inner {
      margin-left: auto;
      margin-bottom: 15px;
    }

    &__banner {
      top: 0;
    }

    &__img--min {
      transform: translateX(15px);
    }
  }
}

@media (max-width:420px) {
  .hero__container::after {
    width: 390px;
    height: 390px;
  }

  .hero-decor--center {
    width: 400px;
    top: 20%;
    left: 37%;
  }

  .hero-product__img--min {
    transform: translateX(15px) translateY(60px);
    width: 229px;
  }

  .hero-product__discount {
    top: 25%;
    left: 67%;
  }

  .hero-product__banner {
    width: 141px;
    height: 107px;
  }

  .hero-product__banner {
    top: 25px;
  }

  .hero__subtitle-text {
    padding-right: 0px;
    font: 600 25px/30px Montserrat;
  }

  .hero-product__inner {
    margin-bottom: 66px;
  }
}

@media (max-width: 375px) {
  .hero__container::after {
    width: 350px;
    height: 350px;
  }

  .hero-decor--center {
    width: 360px;
    top: 20%;
    left: 37%;
  }

  .hero-product__img--min {
    width: 210px;
  }

  .hero-product__discount {
    font: 800 23px/30px Montserrat;
    top: 26%;
  }

  .hero-product__inner {
    margin-bottom: 44px;
  }

  .hero-price {
    width: 320px;
  }

  .hero__link {
    padding: 22px 30px;
  }
}

@media (max-width: 360px) {
  .hero__title {
    font: 800 50px/71px Montserrat;
  }

  .hero-product__banner {
    left: 12px;
  }
}

@media (max-width: 320px) {
  .hero__subtitle-text {
    font: 600 20px/25px Montserrat;
  }

  .hero__container::after {
    width: 300px;
    height: 300px;
  }

  .hero-price {
    width: 290px;
  }

  .hero-decor--center {
    width: 332px;
    top: 20%;
    left: 40%;
  }

  .hero-product__banner {
    width: 121px;
    height: 93px;
    left: 29px;
  }
  .hero__link {
    padding: 22px 5px;
}
}