.opinion {
  padding: 65px 0 40px;

  &__title {
    margin-bottom: 40px;
    text-align: center;
  }
}

.opinion-bg {
  margin-top: -14px;
  position: relative;
  z-index: 1;
}

.opinion-content {
  max-width: 592px;
  margin-right: 69px;
  position: relative;
  z-index: 1;

  &__text {
    font: 500 20px / 26px $font;
    font-style: italic;

    &:first-child {
      margin-bottom: 25px;
    }

    &--accent {
      font-weight: 800;
    }
  }

  &__author {
    font: 800 30px / 30px $font;
    font-style: italic;

    &-quote {
      font: 800 100px/70px Montserrat;
      transform: translateY(48px) translateX(34px);
      display: inline-block;
      font-style: italic;
      color: #79C89C;
    }
  }
}

.opinion-decor__left {
  left: 0;
  top: 14%;
}

.opinion-decor__right {
  right: 0;
  top: 7%;

  &-text {
    font: 400 23px / 28px $font-decor-name;
    display: block;
    width: fit-content;
    transform: translateY(87px) rotate(-27deg) translateX(59px);
  }

  &-img {
    width: 340px;
  }
}

@media (max-width: 1800px) {
  .opinion-decor__left {
    display: none;
  }

  .opinion-decor__right {
    display: none;
  }
}

@media (max-width: 1200px) {
  .opinion__container {
    flex-wrap: wrap;
  }
  .opinion-content {
    max-width: 100%;
    margin-right: 0px;
    order:1;
  }
  .opinion-bg {
    margin-top: -14px;
    margin-left: auto;
    margin-right: auto;
}
}
@media (max-width: 420px) {
  .opinion-content__author-quote {
    transform: translateY(36px) translateX(0px);
    font: 800 85px/70px Montserrat;
}
}
@media (max-width: 375px) {
  .opinion-content__author {
    font: 800 26px/30px Montserrat;
}
.opinion-content__author-quote {
  transform: translateY(36px) translateX(5px);
  font: 800 85px/70px Montserrat;
}
}
@media (max-width: 320px) {
  .opinion-content__author {
    font: 800 24px/30px Montserrat;
}
}