*,
*::after,
*::before {
	box-sizing: border-box;
}

li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
}

body {
	font: $font-default;
	background-color: $white;
	color: $black;
	min-height: 100vh;
	font-style: normal;
}

.main {
	flex-grow: 1;
}

.btn-reset {
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	color: inherit;
	font: inherit;
	padding: 0;
}

.wrapper {
	max-width: 1920px;
	margin: 0 auto;
	position: relative;
}

.container {
	max-width: 1330px;
	margin: 0 auto;
	padding: 0 15px;
}

.hide {
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	position: absolute;
	transition: opacity 1.3s;
}
.section-title{
	font: 800 40px / 45px $font;
	width: fit-content;
	margin: 0 auto;
}
.link{
	background: linear-gradient(93deg, #FF2E00 3.68%, #FF9E57 48.7%, #FF2E00 95.39%);
box-shadow: 0px 10px 20px rgba(255, 122, 0, 0.47);
border-radius: 50px;
color: $white;
padding: 22px 42px;
font: 700 30px / 37px $font;
max-width: 371px;
width: 100%;
text-align: center;
display: block;
}