// Colors
$black: #000000;
$white: #ffffff;
$yellow: #FFD600;
// Colors
// Font
$font: 'Montserrat';
$font-decor-name: 'Pacifico';
$font-open: 'Open Sans';

$font-default: 500 20px/26px $font;
$font-title: 800 40px/ 45px $font;


$font-decor: 400 23px / 28px $font-decor-name;
// Font

%bg-cover{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
%bg-contain{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}